/** @format */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #252525;
    font-family: 'Quicksand', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #222;
    padding: 10px;
}
header .logo {
    width: 160px;
    aspect-ratio: 6/1;
    /* height: 50px; */
}
header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav ul li .fa {
    margin-right: 5px;
}
nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border-radius: 200px;
}

nav ul li:hover a{
    color: #00e1ff;
}

header .btn-nav{
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
}
header .btn-nav i {
    color: #fff;
    font-size: 28px;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100vh;
    gap: 50px;
    /* padding-top: 100px; */
    background-color: #000;
}
#home .text{
    width: 500px;
    /* background-color: #f0f; */
}
#home .text h1 {
    color: #00e1ff;
    font-weight: 700;
    text-shadow: 0 0 10px #00e1ff, 0 0 20px #00e1ff, 0 0 30px #00e1ff;
}
#home .text p{
    color: aliceblue;
    font-size: 16;
    line-height: 20px;
}
#home .text button{
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    background: none;
    border: 2px solid #ffffff80;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    transition: .5s;
}
#home .text button:hover{
    background-color: #00e1ff;
    border-color: #00e1ff;
    color: #222;
    box-shadow: 0 0 10px #00e1ff,0 0 20px #00e1ff;
}
#home img{
    width: 500px;
}

#home .enroll{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#home .enroll span{
    width: 15px;
    height: 15px;
    margin: -3px;
    rotate: 45deg;
    animation: down 2s linear infinite;
}
#home .enroll span:nth-child(1){
    animation-delay: 0s;
}
#home .enroll span:nth-child(2){
    animation-delay: .5s;
}
#home .enroll span:nth-child(3){
    animation-delay: 1s;
}

@keyframes down {
    0%,100% {
        
        border-right: 1px solid #ffffff80;
        border-bottom: 1px solid #ffffff80;
    }
    50% {
        border-right: 1px solid #00e1ff;
        border-bottom: 1px solid #00e1ff;
        
    }
}

@media screen and (max-width: 600px) {
    header{
        justify-content: space-between;
    }
    nav{
        display: none;
    }
    header .btn-nav{
        display: flex;
    }
    #home {
        /* padding-top: 20px; */
        padding: 20px;
        flex-direction: column-reverse;
        gap: 0;
    }
    #home .text {
        width: 100%;
    }
    
}
